@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

#about {
    background: #e7e2e9;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 150px;
    overflow: hidden;
    
 }
 
 #about h2 {
    font-family: Georgia, serif;
    color: #6f5874;
    margin-bottom: 40px;
    text-transform: capitalize;
    text-shadow: 4px 3px 0 #FFFFFF, 2px -9px 0px rgba(206,89,55,0), 2px -9px 0px rgba(206,89,55,0);
   
 }

 #about p{
    color: #404040;
 }

 .fa{

    margin-bottom: 1px;
    margin-top: 0px;
    margin-right: 5px;
    font-size: 25px;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    
 }
 .fa:hover{
   color:#6f5874;
 }

 .left{
    text-align: left;
 }

 .box{
	padding: 0;
	margin: 0;
}


.row:after {
   content: "";
   display: table;
   clear: both;
 }

.box{

  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
  
}

#contacts{
   padding-top: 3%;
   align-content: center;
   padding-left: 21%; 
   /* padding-top: 1%; */


}


#skills{
   padding-top: 3%;
   padding-left: 9%;
   align-content: center;
}

#summary{
   padding-top: 3%;
   padding-left: 7%;
   align-content: center;

}

.box-1{
   background-color: #e7e2e9;
   /* border-radius: 20px; */
   /* border: solid 8px #e6e6e6; */
   height: 100%;

   /* -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 5px 5px 15px 5px rgba(0,0,0,0); 
   box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 5px 5px 15px 5px rgba(0,0,0,0); */

   -webkit-box-shadow: 0px 20px 0px -10px #e7e2e9, 0px -20px 0px -10px #e7e2e9, 20px 0px 0px -10px #e7e2e9, -20px 0px 0px -10px #e7e2e9, 0px 0px 0px 6px #6f5874; 
   box-shadow: 0px 20px 0px -10px #e7e2e9, 0px -20px 0px -10px #e7e2e9, 20px 0px 0px -10px #e7e2e9, -20px 0px 0px -10px #e7e2e9, 0px 0px 0px 6px #6f5874;
}



@media (max-width: 600px) {
   .box {
     width: 100%;
   }
 }



 