@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

#about {
    background: linear-gradient(to top right,#e6e6ff,#e6f7ff);
    padding-top: 0px;
    padding-bottom: 70px;
    overflow: hidden;
 }
 
 #about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
 }

 .fa{
    margin: 10px;
    font-size: 28px;
    color: white;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
 }

 .box{
	padding: 0;
	margin: 0;
}


.row:after {
   content: "";
   display: table;
   clear: both;
 }

.box{

  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
  
}

.center{

   text-align: center;

}

@media (max-width: 600px) {
   .box {
     width: 100%;
   }
 }



 