#life{
    background: #eddee1;
    height: 800px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}