#portfolio {
    background:  #efeff5;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    
 }

 #portfolio li{
     list-style: square;
      
     padding-top: 10px;
    
 }

h2,h1,h5 {
    font-family: Georgia, serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
    color: #95A3A3; 
 }

 hr{
     color: gray;
     opacity: 0.3;
     width: 90%;
     margin-top: 25px;
       
 }
 .ProjectName{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 23px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    font-variant: small-caps;
    text-transform: capitalize;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 4px 3px 0px #cccccc;
    color: #5c5c8a; 
 }

 .link{
    text-align: center;
    font-family: Georgia, serif;
    align-self: center;
    align-content: center;
   
    font-style: italic;

 }

 .link:hover{
    border-bottom: 2px solid white;
	box-shadow: inset 0 -8px 0 white;
 }

 #portfolio a{
    
    text-decoration: none;
    color: #3d5c7b;
    
 }

 .left{
      text-align: left; 
 }

 .container{
     align-content: center;
     position: relative;
     /* float:center; */
 }
 

 .description{
    color: #404040;
    text-align: left; 
    margin-top: 5%;
    margin-bottom: 5%;
 }





 /* Yelp Project  */
 iframe {
    width: 60%;
    height: 450px;
	float: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 40px;
	display: block;
	border: none;
	border-radius: 20px;
	border: solid 8px #cccccc;
}

.YelpDescription{
    align-content: center;
    float:center;
    font-family: Georgia, serif;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: auto; 
    
    float: left;
    font-family: Georgia, serif;
    margin-right: 10%;
    margin-left: 2%;
    width: auto;

     padding-left: 20%;
}

.YelpPic{
   width: 90%;
   float: center;
   display: none;

   position: relative;

   margin: 0 auto;
   padding: 0;
   margin-top: 40px;
  
   border-radius: 20px;
   border: solid 8px #cccccc;
}

@media (max-width: 600px) {
    iframe{
        display: none;
    }
    .YelpPic{
        display: block;
    }
  }

/* GTrader  */

.GTrader{
    text-align: center;
}
 .GTPic{
     height: 400px;
 }

 .GTradeDescription{
    float: left;
    font-family: Georgia, serif;
    margin-right: 10%;
    margin-left: 2%;
    width: 500px;
    padding-left: 200px;
 }


 /* Flex Slider */

 .fix{
    padding-top: 0px !important;
 }

.flexslider{
    width: 300px;
    align-content: center; 
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: center;
}
.flex-control-nav li {
    padding-top: 0px !important;
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .5);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 1);
    cursor: default;
}

/* GTour  */
.GTour{
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 300px; */
	display: block;
	border-radius: 25px;
    border: solid 10px #cccccc;   
}

.GTourDescription{
    float: right;
    font-family: Georgia, serif;
    margin-right: 10%;
   
   
    /* margin-right: 200px; */
    width: 500px;
    
 }

 @media (max-width: 600px) {
    .GTourDescription{
        margin-top: 0px;
        width: auto;
     }
     .description{
         padding-left: 4%;

     }
     .GTradeDescription{
        width: auto;
     }
     .GTour{
        /* align-self: center; */

     }
  }