*{
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
	margin: 0;
  padding: 0;
  
}
body {
  background: linear-gradient(to right, #D4B3D2, #CDCFE8);
}
.photo{
  width: 200px;
  position: absolute;
  left:100px;
}

 .App {
  align-items: center;
  position: absolute;
  left:20px;
  right: 20px;
} 

.App-header {
  background-color: #595D77;
  width:100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 10px solid #FFFFFF;
}


.Card {
  display: flex;
  width: 100%;
  height:auto;
  min-height: 300px;
  font-size: 50px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  color: white;
  background-color: rgba(89,93,119,0.5);
  font-size: 35px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  border-radius: 25px;
  position: relative;
}

.Card-container {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  
}
.tagContainer{
  /* background-color: #FFFFFF;  */
  position: absolute;
  left: 40px; 
  right:40px;
  top: 250px; 
  bottom: 2px;
  float: left;
  height:auto;
}
.Tag{
  
  background-color: #595D77;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  margin: 3px;
}
.picture{
  width: 30px;
  background: #D4B3D2;
}